* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

:root {
  font-size: 15px;
}
body {
  background-color: #f0f2f5;
  font-family: "Poppins", sans-serif;
}
/* Header */
.c-header {
  background: linear-gradient(
    10deg,
    rgba(44, 101, 40),
    rgb(59, 134, 53),
    rgb(74, 144, 69)
  );
  padding: 2rem 0 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.c-header__container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.c-header__logo {
  width: 70px;
  max-width: 100%;
}
.c-header__title {
  color: #2d2d2d;
  font-weight: 300;
  font-size: 2.5em;
}
/* Content */
.c-content {
  max-width: 960px;
  margin: 0 auto;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.c-content__balance {
  width: 100%;
  margin: -10rem auto 0 auto;
}
.c-content__h2 {
  color: #2d2d2d;
  font-weight: 500;
  font-size: 2em;
}

.c-content__card {
  background-color: #fff;
  padding: 1.5rem 2rem;
  border-radius: 0.25rem;
  margin: 2rem auto;
}
.c-content__card.u-bg {
  background: linear-gradient(10deg, rgb(99, 184, 83), rgb(100, 200, 100));
}
.c-content__h3 {
  color: #2d2d2d;
  font-weight: 400;
  font-size: 1.125em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.u-sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
.c-content__text {
  color: #2d2d2d;
  font-weight: 400;
  font-size: 2em;
  line-height: 1.4;
}
.c-content__card.u-bg .c-content__text {
  color: #f1f1f1;
}
.c-content__card.u-bg .c-content__h3 {
  color: #f1f1f1;
}

.c-content__h3 + .c-content__text {
  margin-top: 1rem;
}

.c-content__transaction {
  width: 100%;
}
.c-content__button {
  text-decoration: none;
  color: rgb(99, 184, 83);
  font-size: 1.125rem;
  transition: 0.3s ease;
  display: inline-block;
  padding: 5px 10px;
  margin: 0px -10px;
}
.c-content__button:hover {
  color: rgb(100, 200, 100);
}
.c-content__table-container {
  display: block;
  overflow-x: auto;
}
.c-content__data-table {
  width: 100%;
  border-spacing: 0 0.5em;
  color: #818181;
}

.c-content__tr td:first-child,
.c-content__tr td:last-child,
.c-content__tr th:first-child,
.c-content__tr th:last-child {
  border-radius: 0.25rem;
}
.c-content__th {
  max-width: 240px;
  text-align: start;
  background: #fff;
  font-weight: 700;
  padding: 1rem 2rem;
}
.c-content__tbody .c-content__tr {
  opacity: 0.6;
  transition: 0.3s ease;
  font-weight: 500;
}
.c-content__tbody .c-content__tr:hover {
  opacity: 1;
}

.c-content__td {
  background-color: #fff;
  padding: 1rem 2rem;
  text-align: start;
}
.c-content__td--img {
  opacity: 0.7;
  transition: 0.3s ease;
}
.c-content__td--img:hover {
  opacity: 1;
}
.u-description {
  color: #2d2d2d;
}
.u-income {
  color: #37b85e;
}
.u-expense {
  color: #f13939;
}
.u-date {
  color: #585454;
}
.c-modal {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.c-modal__container {
  background-color: #f2f2f5;

  padding: 1.5rem;
  max-width: 500px;
}
.c-modal__form {
  display: flex;
  flex-direction: column;
}
.c-modal__h2 {
}
.c-modal__item + .c-modal__item,
.c-modal__item + .c-modal__buttons {
  margin-top: 0.8rem;
}
.c-modal__input {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  padding: 0.8rem;
  width: 100%;
}
.c-modal__span {
  display: block;
  opacity: 0.5;
}
.c-modal__buttons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.c-modal__cancel-button {
    border: 2px solid rgba(241, 57, 57, .7);
  text-decoration:none;      
  padding: 15px;
  color: rgba(241, 57, 57, .7);
  width: 30%;
  text-align: center;
  border-radius: 0.25rem;
  transition: 0.3s ease;
}
.c-modal__cancel-button:hover{
  color: #e01818;
  border: 2px solid #e01818;

    
}
.c-modal__label--button {
  cursor: pointer;
  padding: 15px;
  color: #fff;
  background: linear-gradient(10deg, rgb(99, 184, 83), rgb(100, 200, 100));
  width: 30%;
  text-align: center;
  border-radius: 0.25rem;
  transition: 0.3s ease;
}
.c-modal__label--button:hover {
  background: linear-gradient(10deg, rgb(103, 187, 87), rgb(104, 204, 104));
}
.c-modal__input--submit {
  display: none;
}

/* Footer */
.c-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
}
.c-footer__link {
  font-size: 1.15rem;
  color: #2d2d2d;
  text-decoration: none;
  transition: 0.3s;
}
.c-footer__link:hover {
  text-decoration: underline;
}
/* Responsive */
@media (min-width: 900px) {
  :root {
    font-size: 16px;
  }
  .c-content__balance {
    display: grid;
    grid-template-columns: repeat(3, minmax(10px, 1fr));
    gap: 2rem;
    margin: -7rem 0 3rem 0;
  }
  .c-content__card {
    margin: 0;
  }
}
